{% macro render_container(settings, control) %} 
<!-- Glowing Effect -->
<style>
    @keyframes glowing {
      0% {
        background-color: #17a2b8;
        box-shadow: 0 0 5px #17a2b8;
      }
      50% {
        background-color: #49e7ff;
        box-shadow: 0 0 20px #49e7ff;
      }
      100% {
        background-color: #17a2b8;
        box-shadow: 0 0 5px #17a2b8;
      }
    }
    .glowbutton {
      animation: glowing 1000ms infinite;
    }

    .temperature-input {
    font-size: 64px;
    }
</style>

<!-- Control Panel -->
<div class="container" id="cp_container">
	{% if settings['globals']['page_theme'] == 'dark' %}
	<nav class="navbar fixed-bottom navbar-light justify-content-center" style="background-color: #aaaaaa;">
	{% else %}
	<nav class="navbar fixed-bottom navbar-light justify-content-center" style="background-color: #dddddd;">
	{% endif %}
    <span class="navbar-text">

    <!-- Inactive Toolbar -->

    <div class="btn-toolbar justify-content-center" role="toolbar" id="inactive_group"{% if control['mode'] not in ['Stop', 'Startup', 'Monitor', 'Error']%} style="display:none"{% endif %}>
        <!-- Prime Group -->
        <div id="prime_group" class="btn-group mr-2 dropup shadow" role="group" data-toggle="tooltip" data-placement="top" title="Prime the Firepot">
            <button type="button" class="btn btn-outline-primary border border-secondary dropdown-toggle" id="prime_btn" data-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-angle-double-right"></i>
            </button>
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
              <button class="dropdown-item" type="button" onclick="setPrime(10, 'Stop')">Prime 10g</button>
              <button class="dropdown-item" type="button" onclick="setPrime(25, 'Stop')">Prime 25g</button>
              <button class="dropdown-item" type="button" onclick="setPrime(50, 'Stop')">Prime 50g</button>
              <button class="dropdown-item" type="button" onclick="setPrime(10, 'Startup')">Prime 10g & Startup</button>
              <button class="dropdown-item" type="button" onclick="setPrime(25, 'Startup')">Prime 25g & Startup</button>
              <button class="dropdown-item" type="button" onclick="setPrime(50, 'Startup')">Prime 50g & Startup</button>
            </div>
        </div>
        <div id="inactive_core_group" class="btn-group mr-2 shadow" role="group">
            <button type="button" data-toggle="tooltip" title="Monitor" class="btn btn-outline-secondary border border-secondary" id="monitor_btn" name="setmodemonitor" value="true"><i class="fas fa-glasses"></i></button>
            <button type="button" data-toggle="tooltip" title="Smoke Mode" class="btn btn-outline-secondary border border-secondary" id="smoke_inactive_btn" name="setmodesmoke" value="true"{% if control['mode'] not in ['Startup', 'Reignite'] %} style="display:none"{% endif %}><i class="fas fa-cloud"></i></button>
            <button type="button" data-toggle="modal" data-target="#setpointModal" class="btn btn-outline-secondary border border-secondary" id="hold_inactive_btn"{% if control['mode'] not in ['Startup', 'Reignite'] %} style="display:none"{% endif %}><i class="fas fa-crosshairs"></i></button>
            <button type="button" data-toggle="tooltip" title="Stop" class="btn btn-outline-secondary border border-secondary" id="stop_inactive_btn" name="setmodestop" value="true" ><i class="fas fa-stop"></i></button>
        </div>
        <div id="error_group" class="btn-group" role="group" style="display:none">
            <!-- ERROR Button Indicator -->
            <button type="button" data-toggle="tooltip" title="Error!" class="btn btn-danger text-yellow" id="error_btn" name="error_btn" value="true"><i class="fas fa-exclamation-triangle"></i></button>
        </div>
    </div> <!-- End of Inactive Toolbar -->
    
    <!-- Active Toolbar -->

    <div class="btn-toolbar justify-content-center" role="toolbar" id="active_group"{% if control['mode'] not in ['Smoke', 'Hold'] %} style="display:none"{% endif %}>
        <div id="active_core_group" class="btn-group mr-2 shadow" role="group">
            <button type="button" data-toggle="tooltip" title="Smoke Mode" class="btn btn-outline-secondary border border-secondary" id="smoke_active_btn" name="setmodesmoke" value="true" ><i class="fas fa-cloud"></i></button>
            <button type="button" class="btn btn-outline-secondary border border-secondary" id="hold_active_btn" data-toggle="modal" data-target="#setpointModal" ><i class="fas fa-crosshairs"></i></button>
            <button type="button" data-toggle="tooltip" title="Stop" class="btn btn-outline-secondary border border-secondary" id="stop_active_btn" name="setmodestop" value="true"><i class="fas fa-stop" ></i></button>
            <button type="button" data-toggle="tooltip" title="Shutdown" class="btn btn-outline-secondary border border-secondary" id="shutdown_active_btn" name="setmodeshutdown" value="true" ><i class="fas fa-flag-checkered"></i></button>
        </div> <!-- End of Button Group -->
    </div> <!-- End of Active Toolbar -->
    
</div> <!-- End of Container --> 

{% endmacro %}