{% extends 'base.html' %} 

{% block cssextend %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dash_basic.css') }}" type="text/css" />
{% endblock %} 

{% block title %}Dashboard{% endblock %} 

{% block content %}
<br>
<br>
<br>

<!-- Navigation Button Row -->
<div class="row">
	<div class="col">
		<a href="/history" class="btn btn-outline-primary btn-block shadow" role="button"><i class="fas fa-chart-line"></i> Status & History Graphs</a>
	</div> <!-- End of Column -->
</div> <!-- End of Row -->
<br>

{% endblock %}
