{% extends 'base.html' %} 

{% block title %}Dashboard{% endblock %} 

{% block content %}
<br>
<H2>PI Cycle is here!</H2>

<div id="distance"></div>
<div id="curr_speed"></div>
<div id="avg_speed"></div>


<br>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateValue() {
            $.ajax({
                url: '/api/current',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var current = data.current;

                    $('#distance').html('Distance = ' + current.distance.toFixed(2) + ' mi');
                    $('#curr_speed').html('Current Speed = ' + current.curr_speed.toFixed(2) + ' mph');
                    $('#avg_speed').html('Average Speed = ' + current.avg_speed.toFixed(2) + ' mph');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error:", textStatus, errorThrown);
                }
            });
        }

        // Update initially and then every 10 seconds
        updateValue();
        setInterval(updateValue, 10000);
    });
</script>
{% endblock %}